@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');

body {
  background-color: rgb(43, 43, 43);
  margin: 0;
}
header {
  background: rgb(49,14,185);
background: linear-gradient(90deg,
  rgba(49,14,185,1)0%,
  rgba(110,36,210,1)25%,
  rgba(135,60,236,1)50%,
  rgba(158,43,231,1)75%,
  rgba(182,9,226,1) 100%);
  color: rgba(212, 212, 212, 0.973);
}
.loona_header {

  background-image: url("./assets/choerry.png");
  background-size: cover;
  background-position: 0 -150px;
 
}
.loona_header h1 {
  background-image: linear-gradient(
  to right,
  #8709a7 0%,
  #600eae 25%,
  rgba(137, 6, 169, 0) 41.67%,
  rgba(116, 0, 145, 0) 44.44%,
  rgba(53, 0, 91, 0) 47.22%,
  rgba(0, 0, 0, 0) 100%);
  font-family:"Noto Serif KR";
  padding-left: 2rem;
  font-size: 7.7rem;
  
}

.dreamcatcher_header{
  background-image: url("./assets/dreamcatcher1.jpg");
  background-size: cover;
  background-position: 0 -150px;
}

.dreamcatcher_header h1{
background-image: linear-gradient(
to right,
#a70909 0%,
#ae460e 25%,
rgba(169, 126, 6, 0) 41.67%,
rgba(116, 0, 145, 0) 44.44%,
rgba(53, 0, 91, 0) 47.22%,
rgba(0, 0, 0, 0) 100%);
font-family:"Noto Serif KR";
padding-left: 2rem;
font-size: 7.7rem;
}

.aespa_header{
  background-image: url("./assets/aespa1.jpg");
  background-size: cover;
  background-position: 0 -150px;
}

.aespa_header h1{
background-image: linear-gradient(
to right,
#09a73e 0%,
#0eaea1 15%,
rgba(169, 126, 6, 0) 41.67%,
rgba(116, 0, 145, 0) 44.44%,
rgba(53, 0, 91, 0) 47.22%,
rgba(0, 0, 0, 0) 100%);
font-family:"Noto Serif KR";
padding-left: 2rem;
font-size: 7.7rem;
}

.newjeans_header{
  background-image: url("./assets/hyein.jpg");
  background-size: cover;
  background-position: 0 -150px;
}

.newjeans_header h1{
background-image: linear-gradient(
to right,
#d31632 0%,
#b5093a 15%,
rgba(169, 126, 6, 0) 41.67%,
rgba(116, 0, 145, 0) 44.44%,
rgba(53, 0, 91, 0) 47.22%,
rgba(0, 0, 0, 0) 100%);
font-family:"Noto Serif KR";
padding-left: 2rem;
font-size: 7.7rem;
}


.loona_nav {
  text-align: center;
  height: 15px;
  background-image: linear-gradient(
    to right,
    #70288c,
    #7900bb,
    #6d00cc,
    #5000c8,
    #5216e0
  );
}

.dreamcatcher_nav {
  text-align: center;
  height: 15px;
  background: rgb(189,6,6);
background: linear-gradient(90deg,
 rgba(189,6,6,1) 0%,
 rgba(196,73,26,1) 25%,
 rgba(200,113,39,1) 50%,
 rgba(205,128,37,1) 75%,
 rgba(190,144,9,1) 100%);
}

.aespa_nav {
  text-align: center;
  height: 15px;
  background: rgb(98,172,28);
background: linear-gradient(90deg,
  rgba(98,172,28,1)0%,
  rgba(36,182,23,1) 25%,
  rgba(68,212,131,1) 50%,
  rgba(61,224,188,1) 75%,
  rgba(9,190,190,1) 100%);
}

.newjeans_nav {
  text-align: center;
  height: 15px;
  background: rgb(185,14,64);
  background: linear-gradient(90deg,
  rgba(185,14,64,1) 0%,
  rgb(210, 36, 74) 25%,
  rgb(236, 60, 116)50%,
  rgb(224, 61, 123)75%,
  rgb(190, 9, 115) 100%);
}

.menu:visited {
  color: white;
}

.menu:hover {
  color: rgb(200, 200, 200);
}

.menu {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
h1 {
  margin: 0;
  padding-block: 3rem;
}
.tituloheader {
  margin-left: 50px;
  position: relative;
  top: 0.5rem;
  color: white;
  font-family: "Ysabeau SC";
  text-align: center;
  font-size: 2.5rem;
  
}
.titulobaixo {
  top: 10px;
  color: white;
  font-family: "Montserrat";
  text-align: center;
  font-size: 30px;
}

.titulogrupo{
    margin-left: 50px;
    position: relative;
    top:40px;
    font-family: "Nunito";
    color: white;
    font-size: 40px;

}

.card {
  display: inline-block;
  margin: 20px;
  text-align: center;
  text-decoration: 0;
  background: rgb(81,18,186);
  background: linear-gradient(90deg,
  rgba(81,18,186,1) 0%, 
  rgba(90,19,209,1) 25%,
  rgba(93,27,221,1) 50%,
  rgba(116,24,226,1) 75%,
  rgba(132,25,222,1) 100%);
  border-radius: 15px;
  height: 330px;
  width: 330px;
}

.imgcard {
  position: relative;
  top: 25px;
  height: 250px;
  border-radius: 12px;
}

.textocard {
  font-family: "Montserrat";
  position: relative;
  top: -1.3rem;
  color: rgb(218, 218, 218);
}
.maincard {
  text-align: center;
  padding-bottom: 1rem;
}
.jesuscristo {
  position: absolute;
  margin-top: -67px;
  margin-left: 370px;
 width: 1550px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./assets/choerry.png");
    background-repeat: no-repeat;
}
.tituloloona{
    color: white;
    font-family: "Montserrat";
    padding-left: 7rem;
    padding-top: 6rem;
}
p{
    color: white;
    font-family: "Montserrat";
    margin-top: -10px;
    padding-left: 3rem;
    font-size: 1.7rem;
}
.laembaixo{
    color: white;
    font-family: "Montserrat";
    text-align: center;
}
.musicasfoda{
    color: white;
    font-family: "Montserrat";
    padding-left: 75rem;
    margin-top: -20rem;
    font-size: 1.7rem;

}
.divisao{
    margin-left: 57rem;
    margin-top: -13rem;
}
@media only screen and (max-device-width: 1200px) {
  /* .menu { width:100%; } */
  }

.footer{
  padding-top: 5rem;
}

